/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;
}

.nested-links a {
  overflow-wrap: break-word;
}

.menu-btn {
  display: none;
  color: white;
  font-size: 2em;
}

/* Adjust hamburger menu for dark mode */
@media (prefers-color-scheme: dark) {
  .menu-btn {
    color: #fff; /* Change color to white for dark mode */
  }
}

/* Adjust hamburger menu size */
.menu-btn {
  font-size: 2em; /* Change size as needed */
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

/* Display nav links vertically on smaller screens */
@media (max-width: 600px) {
  .nav-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  .menu-btn {
    display: block;
    font-size: 2em; /* Force size to be 2em */
    color: white !important; /* Force color to be white */
    margin-bottom: 1rem; /* Add some spacing between menu button and links */
  }
}

