cat static/css/custom.css 
/* Custom styles for increasing menu item size on mobile */
@media (max-width: 768px) {
  /* Adjust the font size as needed */
  .nav-item a {
    font-size: 18px; /* Change the font size to your preference */
  }
}

.custom-table {
  overflow-x: auto;
  margin-top: 20px;
}

.custom-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 1em;
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.custom-table thead {
  background-color: #333;
  color: white;
}

.custom-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #e8e8e8;
}
.custom-table tbody tr:hover {
  background-color: #d3d3d3;
}
.officers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: start;
  margin-top: 20px;
}

